---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="card sun-card">
    <div class="circle"></div>
    <h3>Sun</h3>
    <p>Type G2V</p>
</div>

<div class="container">
        <h1>Planetary Playing Cards</h1>
        <div class="grid">
            <div class="card">
                <div class="circle"></div>
                <h3>Mercury</h3>
                <p>0.39 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Venus</h3>
                <p>0.72 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Earth</h3>
                <p>1 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Mars</h3>
                <p>1.52 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Jupiter</h3>
                <p>5.2 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Saturn</h3>
                <p>9.54 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Uranus</h3>
                <p>19.22 AU</p>
            </div>
            <div class="card">
                <div class="circle"></div>
                <h3>Neptune</h3>
                <p>30.06 AU</p>
            </div>
        </div>
    </div>
</body>
<script> ScrollReveal().reveal('.card', {
    duration: 1000});
    </script>
</html>