body {
    font-family: Arial;
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 70vw;
    max-width: 900px;
}

h1 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


.sun-card {
    background: #969696;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    height: 490px;
    margin-top: 90px;
    width: 300px;

}


.card {
    background: #969696;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}


.circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    margin-bottom: 10px;
}


.sun-card .circle {
    width: 300px;
    height: 300px;
    background:rgb(255, 208, 0);
}

.mercury .circle {
    width: 200px;
    height: 200px;
    background:orange;
}

h3 {
    margin: 5px ;
    font-size: 30px;
    color:rgb(27, 27, 27);
    
}

p {
    font-size: 20px;
    opacity: 0.8;
    color:rgb(27, 27, 27);
}
.card:hover {
    background-color: rgb(107, 107, 107);
}

.sun-card:hover{
    background-color: rgb(107, 107, 107);
}

.grid .card:nth-child(1) .circle { background: linear-gradient( gray, rgb(236, 236, 236)); }   
.grid .card:nth-child(2) .circle { background: linear-gradient( orange, yellow); }  
.grid .card:nth-child(3) .circle { background: linear-gradient( blue, green); }   
.grid .card:nth-child(4) .circle { background: linear-gradient( rgb(255, 86, 86), rgb(110, 3, 3)); }  
.grid .card:nth-child(5) .circle { background: linear-gradient( rgb(160, 41, 41), rgb(201, 102, 56)); } 
.grid .card:nth-child(6) .circle { background: linear-gradient( rgb(170, 152, 47), yellow); } 
.grid .card:nth-child(7) .circle { background: linear-gradient( rgb(189, 227, 240), rgb(0, 163, 163)); } 
.grid .card:nth-child(8) .circle { background: linear-gradient( rgb(1, 1, 145), rgb(112, 0, 112)); } 